@import "src/assets/scss/common";

.login-screen {
    .main-auth-wrapper {
        @include sm() {
            padding: 20px 40px;
        }
    }
    .input-cursor {
        caret-color: $primary-color;
    }
    .MuiIconButton-sizeSmall{
        font-size: 1rem !important;
    }
    .opt-input {
        background-color: $backdrop-color;
        margin-right: 33px;
        font-size: larger;
        margin-top: 10px;
        border: 2px solid $text-light;
        border-radius: 5px;
        width: 70px !important;
        height: 40px !important;
    }
    .login-button {
        width: 300px;
        padding: 10px;
        margin: auto;
        color: white;
        background-color: $primary-color;
    }
    .auth-header {
        margin: 0px 0 0;
        font-size: 24px;
        text-transform: capitalize;
        color:$light-black;
    }

    .loginFormHolder {
        margin: 20px;

        .eye_btn_wrapper {
            position: absolute;
            top: 38px;
            right: 10px;
            z-index: 2;
        }
    }

    .forgot-password-holder {
        text-align: right;
        margin-bottom: 20px;

        .forgot-password-wrapper {
            font-size: 15px;
            color:#016EFF !important;
            outline: none;
            font-weight: 400;
            cursor: pointer;
            opacity: 0.9;
            text-decoration: none;

            &:hover {
                opacity: 1;
            }
        }
    }
}
