@import "responsive_mixins";
// responsive mixins for global use
@import "mixins"; // Color mixins for global use

$primary-color: #016eff; // #48a1FF;
$accent-color: #a0a5b2; // #48a1FF;
$text-light: #A0A5B2;
$text-dark: #213b4a;
$success-color: #49a24c;
$warn-color: #ff707D;
$purple-color: #a047dc;
$orange-color: #f28a63;
$background-color: #fff;
$backdrop-color: #f0f7fd;
$blue-color: #122531;
$green-color: #3a8862;
$orange-light: #ff8b64;
$light-black:#121F3E;
$light-blue:#E0EDFA
