@import "src/assets/scss/common";

.change-password {
  .submit {
    color: white;
    background-color: $primary-color;
  }
  .MuiIconButton-sizeSmall{
    font-size: 1rem !important;
  }
  Button {
    padding: 10px 40px;
    margin-right: 20px;
  }
  .eye_btn_wrapper {
    position: absolute;
    top: 38px;
    right: 0px;
    z-index: 2;
    Button {
      padding: 0px 0px !important;
    }
  }
}
